In [1]:
import pandas as pd

In [2]:
# OPERACIONES EN DATAFRAMES

In [3]:
df_examenes = pd.read_csv("StudentsPerformance.csv")
df_examenes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
df_examenes.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
df_examenes.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [6]:
# Operaciones en columnas

In [7]:
# Como vamos a hacer operaciones, vamos a seleccionar columnas numÃ©ricas
# Seleccionar una columna y calcular la suma total:
df_examenes["math score"].sum()

66089

In [8]:
# Contar la cantidad de datos que hay en una columna (contar la cantidad de filas):
df_examenes["math score"].count()

1000

In [9]:
# Calcular el promedio:
df_examenes["math score"].mean()

66.089

In [10]:
# Calcular la desviaciÃ³n estÃ¡ndar:
df_examenes["math score"].std()

15.163080096009468

In [11]:
# Calcular el mÃ¡ximo:
df_examenes["math score"].max()
# Del cual tambiÃ©n podemos usar la funciÃ³n max() que estÃ¡ integrada en Python

100

In [12]:
# Calcular el mÃ­nimo:
df_examenes["math score"].min()

0

In [13]:
# Hay una forma mÃ¡s rÃ¡pida de calcular todo lo anterior
# Es usar el mÃ©todo .describe()
df_examenes.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000