In [1]:
import pandas as pd

In [3]:
# Leyendo el archivo csv
df_examenes = pd.read_csv("StudentsPerformance.csv")
df_examenes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
df_examenes.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
# SELECCIONAR 1 COLUMNA

In [6]:
# Sintax 1

In [7]:
# Seleccionar una columna con []
# En los corchetes se escribe el nombre de la columna
df_examenes["gender"]

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [8]:
type(df_examenes["gender"])

pandas.core.series.Series

In [9]:
# Se observa que una columna es un dato de tipo Series

In [10]:
# Series: atributos y mÃ©todos
df_examenes["gender"].index

RangeIndex(start=0, stop=1000, step=1)

In [11]:
df_examenes["gender"].head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

In [12]:
# Nos da como resultado las primeras 5 filas de la serie

In [13]:
# Sintax 2

In [14]:
# Seleccionar una columna con .

In [15]:
df_examenes.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [17]:
# Esta sintaxis no es muy usada para mostrar columnas ya que no nos permite mostrar columnas que
# tengan como nombre mas de una palabra
# O sea que con esta sintaxis no podrÃ­amos mostrar la columna math score por ejemplo

In [18]:
df_examenes.math score

SyntaxError: invalid syntax (3886475794.py, line 1)

In [19]:
df_examenes["math score"]

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [20]:
# Por esta razÃ³n, lo mÃ¡s aconsejable es usar [] para mostrar columnas