In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Creando un dataFrame usando arrays

In [17]:
# Creando un array
datos = np.array([[1, 4], [2, 5], [3, 4]])

In [18]:
# Creando un dataFrame
pd.DataFrame(datos)

   0  1
0  1  4
1  2  5
2  3  4

In [19]:
# Vemos que falta especificar el nombre de las filas y las columnas
# Vamos a detallar un poco mas el dataFrame

pd.DataFrame(datos, index=["fila1", "fila2", "fila3"],
                    columns=["columna1", "columna2"])

       columna1  columna2
fila1         1         4
fila2         2         5
fila3         3         4

In [20]:
# Lo guardamos en una variable:
df = pd.DataFrame(datos, index=["fila1", "fila2", "fila3"],
                         columns=["columna1", "columna2"])

In [21]:
df

       columna1  columna2
fila1         1         4
fila2         2         5
fila3         3         4

In [22]:
# Creando un array en forma de lista:
datos_2 = [[1, 4], [2, 5], [3, 4]]

In [23]:
# Creando un dataframe:
df_2 = pd.DataFrame(datos_2, index=["fila1", "fila2", "fila3"],
                           columns=["columna1", "columna2"])

In [24]:
# Mostrando el dataFrame:
df_2

       columna1  columna2
fila1         1         4
fila2         2         5
fila3         3         4