In [1]:
import pandas as pd

In [2]:
# ATRIBUTOS

In [3]:
df_examenes = pd.read_csv("StudentsPerformance.csv")

In [4]:
df_examenes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [5]:
# Obteniendo acceso al atributo shape
df_examenes.shape
# El cual nos indica la cantidad de filas y columnas de un dataframe

(1000, 8)

In [6]:
# Obteniendo acceso al atributo index
df_examenes.index
# Nos indica el rango de la cantidad de las filas

RangeIndex(start=0, stop=1000, step=1)

In [8]:
# Obteniendo acceso al atributo columns
df_examenes.columns
# Nos indica el nombre de todas las columnas

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [9]:
# Tipo de dato de cada columna
df_examenes.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [11]:
# Las columnas que dicen que son de tipo 'object' es que tienen datos de tipo: cadenas de caracteres
# Mientras que las que dicen int 64, es que tienen datos de tipo: nÃºmeros enteros