In [1]:
import pandas as pd

In [2]:
# FUNCIONES

In [3]:
df_examenes = pd.read_csv("StudentsPerformance.csv")

In [4]:
df_examenes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [7]:
# Obtener el tamaño del dataframe (columnas)
len(df_examenes)

1000

In [8]:
# Obtener el máximo index
max(df_examenes)
# El problema acá es que estamos comparando nombres de columnas

'writing score'

In [10]:
# Por lo tanto la forma correcta es la siguiente:
max(df_examenes.index)

999

In [11]:
# Obtener el mínimo index
min(df_examenes.index)

0

In [12]:
# Obtener el tipo de dato
type(df_examenes)

pandas.core.frame.DataFrame

In [13]:
# Se observa que el tipo de dato es el que aparece como último atributo => 'DataFrame'

In [14]:
# Redondear valores del dataframe
round(df_examenes, 2)
# Como segundo método de la función round() se escribe el número de decimales que queremos para los
# valores numéricos

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [15]:
# No resultó ningún efecto ya que todos los datos numéricos de este dataframe son de tipo enteros (int64)